<!--Header-->

<header>
	<h1>Abridge</h1>
	<div class="container">
		<h6 id="motto">&nbsp;Find your place&nbsp;</h6>
		<form class="form-inline" method="POST" action="/submit">
			<div class="form-group" style="width: 100%">
				<label for="start"></label>					
				<input id="start" class="form-control input" type="text" autocomplete="off" placeholder="Enter your current location" name="location" required>
				<label for="end"></label>
				<input id="end" class="form-control input" type="text" autocomplete="off" placeholder="What are you looking for?" name="query" required>
				<div class="btn-group btn-group-toggle" data-toggle="buttons" style="border: 1px; margin: 10px">
				  	<label class="btn btn-outline-secondary">
				    	<input type="radio" name="travel_mode" value="driving" required><i class="material-icons">directions_car</i>
				  	</label>
				  	<label class="btn btn-outline-secondary">
				    	<input type="radio" name="travel_mode" value="bicycling"><i class="material-icons">directions_bike</i>
				  	</label>
				  	<label class="btn btn-outline-secondary">
				    	<input type="radio" name="travel_mode" value="walking"><i class="material-icons">directions_walk</i>
				  	</label>
				</div>
				<label for="submit"></label>
				<input id="submit" class="btn btn-success input" type="submit" value="Search">
			</div>
		</form>
	</div>
	<br>
</header>
<hr>