{% extends 'layout.html' %}

{% block body %} 
	<header>
		<h1>Easy Maps</h1>
		<div class="container">
			<form class="form-inline" method="POST" action="/submit">
				<input id="start" class="location" type="text" placeholder="From" name="origin" required>
				<input id="end" class="location" type="text" placeholder="To" name="destination" required>
				<div id="travel-mode" class="form-group">
					<label>
						<input id="mode" type="radio" name="travel_mode" value="driving" class="mode" checked><i class="material-icons">directions_car</i>
					</label>
					<label>
						<input type="radio" name="travel_mode" value="bicycling" class="mode"><i class="material-icons">directions_bike</i>
					</label>
					<label>
						<input type="radio" name="travel_mode" value="walking" class="mode"><i class="material-icons">directions_walk</i>
					</label>
				</div>
				<input class="btn btn-success" type="submit" value="Find Route">
			</form>
		</div>
		<br>
		<hr>
	</header>
{% endblock %}