{% extends 'layout.html' %}

{% block body %}
	<header>
		<h1>Abridge</h1>
		<div class="container">
			<h6 id="motto">&nbsp;Find your place&nbsp;</h6>
			<form class="form-inline" method="POST" action="/submit">
				<div class="form-group" style="width: 100%">
					<label for="start"></label>					
					<input id="start" class="form-control input" type="text" autocomplete="off" placeholder="Enter your current location" name="location" required>
					<label for="end"></label>
					<input id="end" class="form-control input" type="text" autocomplete="off" placeholder="What are you looking for?" name="query" required>
					<div class="btn-group btn-group-toggle" data-toggle="buttons" style="border: 1px; margin: 10px">
					  	<label class="btn btn-outline-secondary">
					    	<input type="radio" name="travel_mode" value="driving" required><i class="material-icons">directions_car</i>
					  	</label>
					  	<label class="btn btn-outline-secondary">
					    	<input type="radio" name="travel_mode" value="bicycling"><i class="material-icons">directions_bike</i>
					  	</label>
					  	<label class="btn btn-outline-secondary">
					    	<input type="radio" name="travel_mode" value="walking"><i class="material-icons">directions_walk</i>
					  	</label>
					</div>
					<label for="submit"></label>
					<input id="submit" class="btn btn-success input" type="submit" value="Search">
				</div>
			</form>
		</div>
		<br>
		<hr>
	</header>

	<div class="row-spacer"></div>
	<div style="width: 80%; font-family: Helvetica Neue" class="container-fluid">
		<div class="row">
			<!--time, distance, directions for trip-->
			<div class="col-md-4 box">
				<h3 style="padding-top: 10px; margin-bottom: 0; text-align: center">{{ destination_name }}</h3>
				<h6 id="end-address">{{ data["end_address"] }}</h6>
				<h5><span style="color: #2eb82e">~{{ data["time"] }}</span> ({{ data["distance"] }} miles)</h5>
				<hr>
				<div class="directions">
					<div class="col-md-12">
						<div style="padding: 7px 7px 3px">
							<button type="button" class="btn btn-primary reveal-button" data-location="origin">Enable Street View</button>&nbsp;&nbsp;<button class="btn btn-secondary reset-button" data-location="route-map">Reset</button>
						</div>
						<p style="padding: 5px 7px 5px; margin: 0; font-size: 16px"><strong>{{ data["start_address"] }}</strong></p>
						<ul id="directions">
							<hr>
							{% for step in data["directions"] %}
								<li>{{ step }}</li>
								<hr>
							{% endfor %}
						</ul>
						<p style="padding: 5px 7px 0px; font-size: 16px"><strong>{{ data["end_address"] }}</strong></p>
						<div style="padding: 7px 7px 13px">
							<button class="btn btn-primary reveal-button" data-location="destination">Enable Street View</button>&nbsp;&nbsp;<button class="btn btn-secondary reset-button" data-location="route-map">Reset</button>
						</div>
					</div>
				</div>
			</div>

			<!--map displaying trip route-->
			<div class="col-md-8 box">
				<iframe id="route-map" width=100% height="100%" frameborder="0" style="border:0; display: block" src="{{ directions_map_url }}" allowfullscreen></iframe>
			</div>
		</div>

		<!--street view images for start and end locations, URLs are extracted in layout.html-->
		<iframe id="origin" width="100%" height="500px" frameborder="0" style="border:0; display: none" src="{{ start_street_map_url }}" allowfullscreen></iframe>	
		<iframe id="destination" width="100%" height="500px" frameborder="0" style="border:0; display: none" src="{{ end_street_map_url }}" allowfullscreen></iframe>
	</div>

{% endblock %}



